doctype html 
head 
    title Order Service 
body 
    h1 Order complete 
    table
        thead 
            tr Order Ref
            tr Order Status
            tr Total order price
        tbody
            each order in orderList
                tr
                    td= order.orderRef
                    td= order.orderStatus
                    td= order.orderTotal
                    td= order.products[0].ean



