extends layout

block content
  font(size='2')
    table.table.table-striped#myTable
        thead
            tr
                th Order Ref
                th Order Status
                th Order Date
                th Total Price
                th View Products In Order
        tbody
                each order in orderList
                    tr
                    td= order.orderRef
                    td= order.orderStatus
                    td= order.orderDate
                    td= order.orderTotal
                    td
                        form( action='/order/viewProducts/'+order.orderRef, method="post")
                            input(type='submit', value='View Order')
                            input(type="hidden", name= order.orderRef, value = order.orderRef)

